<ion-footer>
  <ion-toolbar id="footer">
    <div id="div" class="footer-content">
      <div>
        <img
          id="img_footer"
          alt="Gobierno de México"
          src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg">
      </div>
      <div id="address">
        <p>Dirección</p>
        <p>Libres #403</p>
        <p>Col. Centro, Oaxaca de Juárez, C.P. 6800</p>
        <p>Teléfono: 951-51-845-39 Ext: 83029</p>
        <p>Cel. 951-274-65-99</p>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
