<ion-footer>
  <ion-toolbar id="footer">
    <div id="div">
      <div>
        <img
          id="img_footer"
          alt="Gobierno de México"
          src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg">
      </div>
      <div id="address">
        <br>Dirección
        <br>Libres #403
        <br>Col. Centro, Oaxaca de Juárez, C.P. 6800
        <br>
        <br>Teléfono: 951-51-845-39 Ext: 83029
        <br>Cel. 951-274-65-99
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
