<ion-content>
  <div>
    <ion-searchbar animated="true" placeholder="INGRESE EL CUPO" [(ngModel)]="cupo"
                   (ionInput)="onSearchbarInput($event)"></ion-searchbar>
  </div>
  <ng-container *ngIf="showUserData">
  <ng-container *ngIf="users | async as users">
    <div *ngFor="let user of users">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-sm="6">
            <ion-item fill="outline">
              <ion-label position="floating">Nombre Completo</ion-label>
              <ion-input type="text" [(ngModel)]="user.name" readonly></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">CUPO</ion-label>
              <ion-input type="number" [(ngModel)]="user.cupo" readonly></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">RFC</ion-label>
              <ion-input type="text" [(ngModel)]="user.rfc" readonly></ion-input>
            </ion-item>

            <ion-item fill="outline">
              <ion-label position="floating">CURP</ion-label>
              <ion-input type="text" [(ngModel)]="user.curp" readonly></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" size-sm="6">
            <ion-item fill="outline">
              <ion-label position="floating">Estado</ion-label>
              <ion-input
                type="text"
                [(ngModel)]="user.state"
                name="state"
                inputmode="text"
                (input)="onStateInputChange($event)"
                required
              ></ion-input>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">Puesto</ion-label>
              <ion-input type="text"
                         [(ngModel)]="user.job"
                         name="job"
                         inputmode="text"
                         (input)="onJobInputChange($event)"></ion-input>
            </ion-item>
            <ion-item fill="outline" class="readonly-item">
              <ion-label position="floating">Contratación</ion-label>
              <ion-select [(ngModel)]="user.hiring" name="hiring">
                <ion-select-option value="Estructura">ESTRUCTURA</ion-select-option>
                <ion-select-option value="HCP">HCP - PLANTILLA COMPLEMENTARIA PERMANENTE</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item fill="outline">
              <ion-label position="floating">Fecha de Ingreso</ion-label>
              <ion-input type="date" [(ngModel)]="user.dateAdmission"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-container>
  </ng-container>
  <div class="button-container">
    <ion-button (click)="updateUser()">Actualizar Datos</ion-button>
    <ion-button (click)="searchUser()">Buscar Usuario</ion-button>
  </div>
  <app-footer></app-footer>
</ion-content>
