
<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="registerPopover($event)">
        <ion-label>Registros</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="permissionsPopover($event)">
        <ion-label>Opciones</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="reportes($event)">
        <ion-label>Reporte</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="configuracion($event)">
        <ion-label>Configuracion</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="logOut($event)">
        <ion-label>Salir</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>




