<ion-content>
  <ion-select name="datos" required [(ngModel)]="seleccion">
    <ion-select-option value="Todos">Todos</ion-select-option>
    <ion-select-option value="Puntual">Puntual</ion-select-option>
    <ion-select-option value="Retardo">Retardos</ion-select-option>
    <ion-select-option value="Falta">Faltas</ion-select-option>
  </ion-select>
  <ion-item class="date-picker">
    <div class="contenedor">
    <div>
      <ion-label class="green-label">Seleccionar Fecha Inicial</ion-label>
      <ion-datetime [(ngModel)]="fechaInicial" display-format="DD/MM/YYYY" class="calendarInicial"></ion-datetime>
    </div>
    <div>
      <ion-label class="green-label">Seleccionar Fecha Final</ion-label>
      <ion-datetime [(ngModel)]="fechaFinal" display-format="DD/MM/YYYY" class="calendarFinal"></ion-datetime>
    </div>
    </div>
  </ion-item>
  <ion-button (click)="generateReport()">Generar Informe</ion-button>
  <app-footer></app-footer>
</ion-content>

