/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
ion-item{
  margin: 20px;
}
#columnas{
  display: flex;
}
ion-content{
  text-align: center;
}
