.container{
  text-align: center;
  margin-top: 20px; /* Aumento el espaciado superior en dispositivos móviles */
}

.imagen-cargada {
  display: block;
  margin: 0 auto 40px;
  max-width: 100%; /* Añade esto para que la imagen se ajuste al contenedor */
  max-height: 300px; /* Establece la altura máxima deseada para las imágenes */

}

.campos-container {
  width: 40%; /* Ajusta el ancho según tus necesidades */
  margin: auto; /* Centra horizontalmente */
}

/* Define el ancho máximo deseado para los botones en ambos dispositivos */
.seleccionar-archivo,
ion-button {
  width: 100%;
  max-width: 90%; /* Reduzco el ancho máximo para dejar más espacio en la versión web */
  margin: 0 auto;
}

/* Ajusta el ancho de campos-container para dispositivos móviles */
.campos-container {
  width: 90%; /* Amplío el ancho para dispositivos móviles */
  margin: 0 auto;
}

/* Añade espaciado superior entre los botones y reduce el margen superior en dispositivos móviles */
.botones {
  text-align: center;
  margin-top: 20px; /* Aumento el espaciado superior en dispositivos móviles */
}

/* Media query para pantallas pequeñas (móviles) */
@media screen and (max-width: 600px) {
  .date-picker > div {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Ajusta el margen superior para el pie de página en dispositivos móviles */
  .app-footer {
    margin-top: 20px; /* Aumento el margen superior en dispositivos móviles */
  }
}
