  <ion-content>
    <div id="container" class="container">
      <!-- Agregar campos de cupo y observaciones -->
      <div class="campos-container"> <!-- Agrega una clase para este div -->
        <ion-item fill="outline">
          <ion-label position="floating">Cupo</ion-label>
          <ion-input type="text" name="cupo"
                     placeholder="Enter text"
                     [(ngModel)]="cupo"
                     (ionInput)="onInputValueChange($event)"></ion-input>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="floating">Observaciones</ion-label>
          <ion-textarea [(ngModel)]="observaciones" rows="5"></ion-textarea>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="floating">Días de Permiso</ion-label>
          <ion-input type="text" name="diasPermiso" placeholder="Enter text" [(ngModel)]="diasPermiso" (ionInput)="onInputValueChangeDias($event)"></ion-input>
        </ion-item>

        <ion-item class="date-picker">
          <ion-label position="floating" class="date-picker-label">Fecha de Permiso</ion-label>
          <ion-datetime display-format="DD/MM/YYYY" [(ngModel)]="fechaPermiso"></ion-datetime>
        </ion-item>

      </div> <!-- Cierra el div de campos-container -->

      <!-- Vista previa de la imagen seleccionada -->
      <img [src]="selectedFilePreview" alt="Vista previa de la imagen" *ngIf="selectedFilePreview" class="imagen-cargada">


      <!-- Botón personalizado para seleccionar archivo -->
      <ion-button (click)="fileInput.click()" class="seleccionar-archivo">Seleccionar archivo</ion-button>

      <!-- Input de tipo file oculto -->
      <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>

      <!-- Botones debajo de la imagen -->
      <ion-button (click)="uploadImage()" class="seleccionar-archivo">Guardar datos</ion-button>
    </div>




    <!-- Margen superior para separar el footer -->
    <div style="margin-top: 100px;">
      <app-footer></app-footer>
    </div>
  </ion-content>
