<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center" color="primary">
  <img src="https://intranet.difoaxaca.gob.mx/public/paginaweb/comunicados/b3BwYNI28YpKCsePbUHRdBtQGcjzZ5fNNPd5c622.jpg" class="logo"  alt=""/>

  <div class="title">
    <h2>Bienvenido</h2>
    <p>DIF OAXACA</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" class="ion-margin-top" (click)="register()"  fill="outline" color="white">SIGN UP</ion-button>
    <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">LOGIN</ion-button>
  </div>
</ion-content>
