.logo {
  width: 30%;
  margin: 20% 0 20% 0;
}

.title {
  margin-bottom: 20%;
}

.title p {
  margin-top: 0 !important;
}
.ion-justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center; /* Agregado para centrar verticalmente */
}
ion-content{
  --my-customer-color: #fdf3e2;
}
