<ion-header>

</ion-header>

<ion-content class="ion-padding">
  <div class="title">
    <h4>BIENVENIDO</h4>
    <p>Inicia sesión para comenzar</p>
  </div>

  <ion-input placeholder="Nombre Completo" class="primary-input"></ion-input>
  <ion-input placeholder="CUPO" class="primary-input"></ion-input>
  <ion-input placeholder="Contraseña" type="password" class="primary-input"></ion-input>

  <p>Al registrarse, acepta nuestros Términos y condiciones</p>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="register()">INICIA SESIÓN</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">CERRAR</a>
  </div>
</ion-content>
