<ion-header>

</ion-header>

<ion-content class="ion-padding" >
  <div class="title">
    <h4>BIENVENIDO</h4>
    <p>¡Comencemos!</p>
  </div>

  <ion-input placeholder="CUPO" class="primary-input" ></ion-input>

  <!--<div class="ion-margin-top ion-text-right forget">
    <a href="#">¿Olvidaste la contraseña?</a>
  </div>-->

  <div class="ion-margin-top ion-justify-content-center">
    <ion-button (click)="registration()" color="success">Entrada</ion-button>
    <ion-button (click)="registrationExit()" color="danger">Salida</ion-button>
  </div>

  <div class="ion-margin-top ion-text-center">
    <a (click)="dismiss()">CERRAR</a>
  </div>
</ion-content>
